<%- include("../partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../partials/header1b") %>
<%- include("../partials/navbar") %>
<div class="container c1">
	<h1 class="cen">Welcome to Admin Dashboard</h1>
	<div class="row">
		<div class="col-md-6 d-flex justify-content-center">
			<a href="/admin/explore" class="btn btn-primary btn-lg btn-block">Pending Posts</a>
		</div>
		<div class="col-md-6 d-flex justify-content-center">
			<a href="/admin/opportunities" class="btn btn-primary btn-lg btn-block">Pending Opportunities</a>
		</div>
	</div>
	
</div>
<%- include("../partials/footer") %>
