<hr class="white-line">
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bot2">
      <h4 class="fs">Get Started Today</h4>
      <p class="fs2">We organise competitions, workshops, training sessions and much more regularly! Follow us on social media to stay connected!</p>
      <p><i class="fas fa-map-marker-alt"></i>  New Delhi, India</p>
      <p><i class="fas fa-envelope"></i>  info@aafngo.org</p>
      <p><a href="https://aafngo.org" target="_blank"><i class="fas fa-external-link-square-alt"></i>   Asha Akanksha Foundation</a></p>
      <span><a class="mr-1" href="https://www.facebook.com/ashaakankshafoundation" id="fb" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a></span>
      <span><a class="mr-1" href="https://twitter.com/asha_akan_found" id="tweet" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></span>
      <span><a class="mr-1" href="https://www.instagram.com/asha_akankshafoundation" id="insta" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a></span>
      <span><a class="mr-1" href="https://t.me/teamaaf" id="tele" target="_blank"><i class="fab fa-telegram fa-2x"></i></a></span>
      <span><a class="mr-1" href="https://www.linkedin.com/company/asha-akanksha-foundation" id="lin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></span>
      <span><a class="mr-1" href="https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng" id="yt" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a></span>
    </div>
    <div class="col-md-6 bot2">
      <img src="https://imgur.com/uXsCUrR.jpg" id="logo2" style="margin:0 1rem 2rem 0;">
      <h4 class="fs fs3">
        
        About Asha Akanksha Foundation</h4>
      <p class="fs2">Asha Akanksha Foundation is a non-government organization established in the year 2013 working to spread awareness in the society and provide quality education to those who are void of it.Free education, craft classes, dance classes, menstrual hygiene camps are some such initiatives taken by us. We make sure that all our actions and undertakings help in creating awareness on various societal issues which are of grave importance such as gender equality, women empowerment, child labor and more.</p>
    </div>
    </div>
  </div>
</footer>
<hr class="white-line">
<footer class="footer2">
  <div class="container">
      <p id="center">Copyright © 2020 Asha Akanksha Foundation</p>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>