<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Parvaaz Parindey <i class="fas fa-dove"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/opportunities">Know Your Opportunities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
				<% if(!currentUser){ %>
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Log In</a>
					</li>
				<% }else{ %>
				<% if(currentUser._id.equals(adminId)){ %>
					<li class="nav-item">
						<a class="nav-link" href="/admin">Admin Dashboard</a>
					</li>
				<% } %>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Log Out</a>
					</li>
				<% } %>
				
            </ul>
            </div>
          </div>
</nav>