<div id="fixed-social">
        <div>
          <a href="https://www.facebook.com/ashaakankshafoundation" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
          <a href="https://twitter.com/asha_akan_found" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/asha_akankshafoundation" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
        </div>
        <div>
            <a href="https://t.me/teamaaf" class="fixed-telegram" target="_blank"><i class="fab fa-telegram-plane"></i><span>Telegram</span></a>
          </div>
        <div>
            <a href="https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng" class="fixed-yt" target="_blank"><i class="fab fa-youtube"></i> <span>YouTube</span></a>
        </div>
        <div>
          <a href="https://www.linkedin.com/company/asha-akanksha-foundation" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div> 
    </div>