<div class="icon-bar">
  <a href="https://www.facebook.com/ashaakankshafoundation" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a> 
  <a href="https://twitter.com/asha_akan_found" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
  <a href="https://www.instagram.com/asha_akankshafoundation" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.linkedin.com/company/asha-akanksha-foundation" class="linkedin"><i class="fa fa-linkedin" target="_blank"></i></a>
<a href="https://t.me/teamaaf" class="telegram" target="_blank"><i class="fab fa-telegram-plane"></i></a>
  <a href="https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a> 
</div>