<%- include("./partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/About.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("./partials/header1b") %>
<div class="jumbotron wh">
	<div class="container">
		<%- include("./partials/navbar") %>
		<div class="container text-center">
			<h1>
				Parvaaz Parindey
			</h1>
			
		</div>
	</div>
</div>

<div class="container txt6">
	<div class="text-center ss">
			<i class="fas fa-quote-right"></i>
			<i>
			<div>
				Kuch baatein, kuch sawaal
			</div>
			<div>
				Jo Koi bole na, koi puche na
			</div>
			<div>
				Aao baithe ham aur aap 
			</div>
			<div>
				Kuch dabbe mudde khole na 
			</div>
			</i>
		
		<i class="fas fa-quote-right"></i>
	</div>
	<p class="text-justify abt1">
		Parvaaz parindey, an attempt to take a leap into the sky of the unspoken. We are here to shed some light on the things that might be unsettling, but are of great essence to each one of us. There are so many things we are oblivious to, some unconsciously and some on purpose because they make us uncomfortable. But it is important that we join hands and raise our voice together, that we educate ourselves and others and become better members of the society. 
	</p>
	<p class="text-justify abt2">
		Parvaaz Parindey is an initiative of Asha Akanksha Foundation to put such issues, that have been ignored for centuries in a spotlight. We hope that through this initiative we can educate people and make them aware about the problems that no one is questioning!
	</p>
	
</div>
<%- include("./partials/footer") %>