.navbar{
	background-color:black;
	margin-bottom: 4rem;
}
.cen{
	text-align:center;
	margin-bottom: 15vh;
}
.c1{
	margin-top: 20vh;
	margin-bottom: 40vh;
}
.btn{
	margin-bottom: 5vh;
}
.alert{
	padding: 5vh 2rem 5vh 2rem;
	margin-bottom: 60vh;
}
#c2{
	margin-bottom: 8vh;
}