.jumbotron{
	background-position: center;
	background-size: cover;
	border-radius:0;
	padding-top: 0;
    padding-left: 0;
    padding-right: 0;
	height: 60vh;
}
.opph1{
	color:white;
	margin-top:10vh;
}
.card{
	margin-bottom:1rem;
	
}
.btn:hover{
	border: 2px solid #A53692;
}
.card-img-top{
	height:13rem;
	object-fit:cover;
}
.btn{
	margin-bottom:2rem;
}
.alert{
	padding: 5vh 2rem 5vh 2rem;
	margin-bottom: 30vh;
}
#more{
	margin-bottom:0;
}
@media (min-width: 992px){
	.card{
		height: 35rem;
	}
}