body{
	font-family:'Poppins', sans-serif;
}
.navbar{
    z-index:1;
    position: relative;
    font-weight: 600;
    font-size: 0.85rem;
    margin-top:0!important;
}
.nav-item{
    text-transform: uppercase;
    padding-left:0.5rem;
    z-index:1;
    position: relative;
}
a.nav-link{
    color:white!important;
    z-index:1;
    position: relative;
	text-align:center;
}
a.nav-link:hover{
    color:rgb(250, 85, 222)!important;
    z-index:1;
    position: relative;
}
a.navbar-brand:hover{
    color:rgb(250, 85, 222)!important;
    z-index:1;
    position: relative;
}