.navbar{
	background-color:black;
	margin-bottom:3rem;
}
h2{
	margin-bottom:1rem;
	margin-top:1rem;
}
.img-fluid{
	display:block;
	margin-bottom:1rem;
	margin-left:auto;
	margin-right:auto;
}
body{
	background-color:#f8f9fa;
}
#inl{
	display:inline;
}
.card{
	padding: 2rem!important;
}