<%- include("../partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/explore.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../partials/header1b") %>
<div class="jumbotron ">
	<%- include("../partials/navbar") %>
	<div class="container text-center">
		<h1 id="exp">Explore Posts</h1>
		<a href="/explore/new" class="btn">Submit Your Creative Writing</a>
	</div>
</div>
<%- include("../partials/footer") %>
