<%- include("../../partials/header1") -%>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/science.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../../partials/header1b") -%>
<div class="jumbotron">
	<%- include("../../partials/navbar") %>
	<div class="container opph1 text-center">
		<h1>Science and Technology</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="https://imgur.com/yhtHFQ9.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">IIIT Lucknow Summer School</h5>
					<p class="card-text">The aim of the course is to bring together the researchers and practitioners in Artificial Intelligence, Machine Learning and Data Science to discuss new foundational theoretical results,methods and applications...</p>
					<a href="#" class="btn">Read More</a>
				  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="https://imgur.com/JdZICyY.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">0 Prerequisite Web Development Course</h5>
					<p class="card-text">The 0 Prerequisite Web Development Course is an initiative by Asha Akanksha Foundation to promote learning and skill development. It will all topics starting from the extreme basics and extending to an intermediate level of web development....</p>
					<a href="#" class="btn">Read More</a>
				  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="https://imgur.com/p5RDPfc.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">Extreme Tech Challenge (XTC) competition</h5>
					<p class="card-text">The Extreme Tech Challenge (XTC) competition is the world’s largest startup competition for entrepreneurs addressing global challenges. Drawing from the United Nation's 17 Sustainable Development Goals...</p>
					<a href="#" class="btn btn-primary">Read More</a>
				  </div>
			</div>
		</div> 
	<!-- </div> -->
	<!-- <div class="row"> -->
		<div class="col-md-4">
			<div class="card">
				  <img src="https://imgur.com/yhtHFQ9.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">IIIT Lucknow Summer School</h5>
					<p class="card-text">The aim of the course is to bring together the researchers and practitioners in Artificial Intelligence, Machine Learning and Data Science to discuss new foundational theoretical results,methods and applications...</p>
					<a href="#" class="btn btn-primary">Read More</a>
				  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				  <img src="https://imgur.com/yhtHFQ9.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">IIIT Lucknow Summer School</h5>
					<p class="card-text">The aim of the course is to bring together the researchers and practitioners in Artificial Intelligence, Machine Learning and Data Science to discuss new foundational theoretical results,methods and applications...</p>
					<a href="#" class="btn btn-primary">Read More</a>
				  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				  <img src="https://imgur.com/yhtHFQ9.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title">IIIT Lucknow Summer School</h5>
					<p class="card-text">The aim of the course is to bring together the researchers and practitioners in Artificial Intelligence, Machine Learning and Data Science to discuss new foundational theoretical results,methods and applications...</p>
					<a href="#" class="btn btn-primary">Read More</a>
				  </div>
			</div>
		</div> 
	</div>
</div>
 <%- include("../../partials/footer") %>