<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--====================Font Awesome==============================-->
    <script src="https://kit.fontawesome.com/1d9b3c3ba8.js" crossorigin="anonymous"></script>


<!--===================Google Fonts===================================================-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<!--===Custom stylesheets=========================-->
	  <!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->
	  <!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->
	  <link rel="stylesheet" href="/stylesheets/Navbar.css">
	  <link rel="stylesheet" href="/stylesheets/opportunities.css">
	  <link rel="stylesheet" href="/stylesheets/Buttons.css">
	  <link rel="stylesheet" href="/stylesheets/Footer.css">

    <title>Parvaaz Parindey</title>
  </head>
  <body>
<div class="jumbotron">
<!--Navbar=====================================-->
<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Parvaaz Parindey <i class="fas fa-dove"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Know Your Opportunities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore</a>
                </li>
            </ul>
            </div>
          </div>
      </nav>
<!--=====================================================================-->
<div class="container opph">
	<h1 class="heading"> Know Your Opportunities </h1>
	<p class="txt1">
		A portal for keeping you updated about all the latest opportunities in different fields.
	</p>
	<button class="btn">
		Add a New Opportunity
	</button>
</div>
</div>
<!--================================-->
<!--================================-->
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/PyR6jQu.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Science and Technology</h3>
			  </div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/iiWUsq2.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Business, management and administration</h3>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/4SDWtk8.jpg" class="card-img" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Humanities</h3>
			  </div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/adcNnqH.jpg" class="card-img" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Other Fields</h3>
			  </div>
			</div>
		</div>
	</div>
</div>
	
	

<!--================================-->
 <%- include("../partials/footer") %>